$primary-button-bg-color: #0d6efd;
$primary-button-hover-bg-color: #0b5ed7;
$primary-button-border-color: #0a58ca;
$alert-info-bg-color: #cfe2ff;
$alert-info-text-color: #084298;
$alert-info-border-color: #b6d4fe;
