@use './_globals' as globals;

@mixin button() {
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  padding: 0.5rem;

  &:hover {
    background-color: darkgray;
  }
}

@mixin button-primary() {
  @include button();
  background-color: globals.$primary-button-bg-color;
  color: white;

  &:hover {
    background-color: globals.$primary-button-hover-bg-color;
    border-color: globals.$primary-button-border-color;
  }
}

@mixin h2 {
  font-size: 1.5rem;
  margin: 2rem 0;
}

@mixin input {
  padding: 0.5rem;
  border: 1px solid globals.$input-border-color;
  border-radius: 0.25rem;

  &:focus {
    border-color: globals.$input-focus-border-color;
    outline: none;
  }
}

@mixin table {
  border-collapse: collapse;

  td {
    border: 1px solid globals.$table-td-border-color;
    padding: 0.5rem;
  }
}