@use '../../styles/_mixins' as mixins;
@use '../../styles/_globals' as globals;

.data-transformer {
  .back-button {
    @include mixins.button;
  }

  h2 {
    @include mixins.h2;
  }

  div {
    margin: 1rem 0;
  }

  .data-transform {
    button {
      @include mixins.button-primary;
    }

    .alert-info {
      border: 1px solid globals.$alert-info-border-color;
      background-color: globals.$alert-info-bg-color;
      border-radius: 0.5rem;
      color: globals.$alert-info-text-color;
      margin: 1rem 0;
      padding: 0.5rem;
      width: fit-content;
    }
  }
}
